@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-div {
    background-image: url("public/aqua-world.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
